@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    min-width: 0;
    max-width: 1200px;
    padding: 0px 50px;
}
.btn-main {
    border: 2px solid;
    outline: 0;
    background: transparent;
    font-size: 1em;
    cursor: pointer;
    padding: 12px 25px;
    text-transform: uppercase;
    transition: 0.4s linear;
}
.btn-white {
    color: #fff;
}
.btn-white:hover {
    background: #f0932b;
    border-color: #f0932b;
}
.section-title h3 {
    margin-top: 60px;
    font-size: 2em;
    font-weight: 700;
    text-align: center;
    color: #2c3e50;
    text-transform: uppercase;
}

/*----navbar----------*/
header {
    background-image: url(../image/bg-home.jpg);
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment:fixed;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    height: 80px;
}
.nav-menu li {
    list-style: none;
    display: inline-block;
}
.nav-menu li a {
    text-decoration: none;
    padding: 15px 20px;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    transition: 0.4s linear;
}
.nav-menu li a:hover {
    color: #f0932b;
}
.logo {
    max-width: 200px;
}
.heading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 150px;
    margin-bottom: 60px;
}
.heading h1 {
    font-size: 3.5em;
    color: #fff;
    margin-bottom: 15px;
}

/*------services--------*/
.service-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2em;
    place-items: center;
    margin: 0 auto 100px;
}
.service-item {
    display: flex;
    padding: 5px 0px;
}
.service-icon i{
    display: grid;
    place-items: center;
    width: 75px;
    height: 75px;
    color: #22a6b3;
    margin-right: 30px;
    transition: 0.4s linear;
}
.service-icon i:hover {
    background: #2c3e50;
}
.service-item h3 {
    color: #535c68;
    font-weight: 400;
    text-align: center;
    margin: 0;
    text-transform: uppercase;
}
.services-title-underline {
    width: 30px;
    height: 4px;
    background-color: #f0932b;
    margin: 30px auto;
}
.service-item p {
    color: #535c68;

}

/*------about------------*/
#about {
    background-image: url(../image/bg-about.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.about-container {
    height: 700px;
    clip-path: polygon(0 0, 43% 0, 53% 100%, 0 100%);
    background: #fff;
    display: flex;
    align-items: center;
}
.about-info {
    width: 40%;
}
#about .section-title h3 {
    text-align: left;
}
.about-title-underline {
    margin-left: 0;
    width: 30px;
    height: 4px;
    background-color: #f0932b;
}
.about-info p {
    color: #535c68;
    padding-right: 50px;
    margin-bottom: 35px;
}
.btn-about {
    color: #22a6b3;
}
.btn-about:hover {
    background-color: #22a6b3;
    color: #fff;
    text-transform: uppercase;
}

/*  */